<app-navbar></app-navbar>

<div class = "container-fluid">

    <app-user-search (click) = 'getUser($event)'></app-user-search>
    <hr>
    <div class="image">
        <img src ="../../assets/Images/mygitbubimage.jpeg" alt="image of an open laptop with code showing on its screen">

    </div>
    <br>
    <div class ="personal-details">
        <p>GitHub-Name: Alice-Githui</p>
        <p>Description: Student</p>

    </div>
    <ul>
        <div *ngFor = 'let user of user'>
            <li>
                {{user.login}}
                {{user.id}}
            </li>

        </div>
    </ul>    
    <app-footer></app-footer>

</div>
