<app-navbar></app-navbar>

<div class = "container-fluid">
    <div class="form-field">
        <form>
            <div class="form-group">
                <label for ="user-name">Enter Your GitHub UserName</label>
                <input type = "text" id="user-name" class="form-control"> 
            </div>
            <button type="submit" (click) = 'getUser()'>Submit</button>

        </form>

    </div>

    <br>
    <div class="image">
        <img src ="../../assets/Images/mygitbubimage.jpeg">

    </div>
    <ul>
        <div *ngFor = 'let user of user'>
            <li>
                {{user.login}}
                {{user.id}}
            </li>

        </div>
    </ul>

    

</div>
