<div class = "container">
   <h1>My GitHub Profile</h1>
   <div class = "body">
       <div class = "row">
           <div class="col-md-5">
            <div class = "my-username">
                <p>GitHub Name: Alice-Githui</p>
                <img src = "../../assets/Images/mygitbubimage.jpeg" alt = "">
            </div>
           </div>
           <div class = "col-md-7">
               <div class = "repos">
                   <div class = "row">
                       <div class="col-md-6">
                            <div class="card">
                                <h5>Quotes App</h5>
                                <p>This app provides a platform where the users can submit their quotes, read quotes submitted by others and upvote or downvote on the existing quotes.</p>
                            </div>                        
                       </div>
                       <div class="col-md-6">
                            <div class = "card">
                                <h5>Expense-Tracker</h5>
                                <p>This is an expense tracking application that allows users to input their incomes and expenses, with a description of the source of income and type of expense so they have a clear picture of their financial position.</p>
                            </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-6">
                            <div class = "card">
                                <h5>Zappi Pizzas</h5>
                                <p>A pizza ordering app where the user gets to customize their pizzas</p>
                            </div> 
                       </div>
                       <div class="col-md-6">
                            <div class="card">
                                <h5>Delani Studios</h5>
                                <p>This website was created for Delani Studios, an innovative and dynamic software development company that develops and offers tailored software development software solutions to their clients</p>
                            </div>
                       </div>

                   </div>               
               </div>

           </div>

       </div>
   </div>
</div>
