<div class = "container">
   <h1>My GitHub Profile</h1>
   <div class = "body">
       <div class = "row">
           <div class="col-md-5">
            <div class = "my-username">
                <p>GitHub Name: Alice-Githui</p>
                <img src = "../../assets/Images/mygitbubimage.jpeg" alt = "">
            </div>
           </div>
           <div class = "col-md-7">
               <div class = "repos" id="row">
                    <ul>
                        <div class="card" *ngFor = 'let repo of repos'>
                            <li>
                                <h5>{{repo.rname}}</h5>
                                <br>
                                <p>{{repo.description}}</p>

                            </li>
                        </div>     
                    </ul>  
               </div>

           </div>

       </div>
   </div>
</div>
