<app-navbar></app-navbar>

<div class= "repositories">
    <div class="row">
        <div class="col-md-4 card">
            <h5>Quotes-App</h5>
            <p>This app provides a platform where the users can submit their quotes, read quotes submitted by others and upvote or downvote on the existing quotes</p>
            <p><a href= "https://alice-githui.github.io/Quotes-App/">Quotes-App</a></p>
    
        </div>
        <div class="card col-md-4">
           <h5>Expense-Tracker</h5>
           <p>This is an expense tracking application that allows users to input their incomes and expenses, with a description of the source of income and type of expense so they have a clear picture of their financial position</p>
           <p><a href = "https://alice-githui.github.io/Expense-Tracker/">Expense-Tracker</a></p>           

        </div>
        <div class="card col-md-4">
            <h5>Zappi Pizzzas</h5>
            <p>A pizza ordering app where the user gets to customize their pizzas</p>
            <p><a href="https://alice-githui.github.io/Zappi-Pizzas/">Zappi-Pizzas</a></p>            

        </div>
        
    </div>
    <div class = "row">
        <div class="card col-md-4">
            <h5>Exchange-Rate Calculator</h5>
            <p>This is an app that computes the exchange rates for different countries.</p>
            <p><a href="https://alice-githui.github.io/Exchange-Rate-Calculator/">Exchange-Rate Calculator</a></p>


        </div>
        <div class="card col-md-4">
            <h5>Delani Studios</h5>
            <p>This website was created for Delani Studios, an innovative and dynamic software development company that develops and offers tailored software development software solutions to their clients</p>
            <p><a href = "https://alice-githui.github.io/Delani-Studios/">Delani Studios</a></p>           

        </div>
        <div class="card col-md-4">
            <h5>Akan Names</h5>
            <p>This is a web application that will be used to derive the Akan Names based on the day of the week they were born and their genders</p>
            <p><a href = "https://alice-githui.github.io/akan-names/">Akan Names</a></p>           

        </div>


    </div>
    <div class="row">        
        <div class="card col-md-4">
            <h5>Developer's Portfolio</h5>
            <p>This repository contains my Developer's Portfolio and a list of the projects that I have previously worked on</p>
            <p><a href = "https://alice-githui.github.io/Developer-s-Portfolio-Landing-Page/">Developer's Portfolio</a></p>            

        </div>
        <div class="card col-md-4">
            <h5>Bus Booking Application</h5>
            <p>An bus booking application where the users can book their bus tickets in advance to save on time at the bus-stops</p>
            <p><a href = "https://alice-githui.github.io/UC---Connect/">Bus-Booking App</a></p>           

        </div>
        <div class= "card col-md-4">
            <h5>Pet Names</h5>
            <p>This is an application where pet names are collected from users using forms and JavaScript and jQuery technologies</p>
            <p><a href = "https://alice-githui.github.io/Pet-Names/">Pet Names</a></p>

        </div>

    </div>

</div>
