/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

*{
    box-sizing: border-box;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;

}

